<section>
    <div class="container-fluid hero bg-dark">
        <div class="row row-xl-10 align-items-end h-100 no-gutters">
            <div class="col col-xl-4 col-lg-5 col-md-8 mb-5 mx-3 text-black bg-light py-2">
                    <h3 class="fw-bold">A sua saúde, marcada em minutos</h3>
                    <p class="mb-4">
                        Na nossa clínica, o seu tempo e bem-estar são prioridade. Agora já pode agendar consultas
                        médicas e exames de forma simples, rápida e segura — diretamente online, onde e quando quiser. 
                        Sem esperas, sem complicações. Com profissionais dedicados e um atendimento de excelência, estamos aqui para cuidar de si em todas as etapas.
                    </p>
                    <a href="pages/course-filter-list.html" class="btn btn-primary">Marcar consulta ou exame</a>
            </div>
        </div>
    </div>
</section>