<section>
    <!-- Hero Section -->
    <section>
    <div class="container-fluid hero bg-dark">
        <div class="row row-xl-10 align-items-end h-100 no-gutters">
            <div class="col col-xl-4 col-lg-5 col-md-8 mb-5 mx-3 text-black bg-light py-2 rounded-2">
                    <h3 class="fw-bold">A sua saúde, marcada em minutos</h3>
                    <p class="mb-4">
                        Na nossa clínica, o seu tempo e bem-estar são prioridade. Agora já pode agendar consultas
                        médicas e exames de forma simples, rápida e segura — diretamente online, onde e quando quiser. 
                        Sem esperas, sem complicações. Com profissionais dedicados e um atendimento de excelência, estamos aqui para cuidar de si em todas as etapas.
                    </p>
                    <a routerLink="/about" class="btn btn-primary">Marcar consulta ou exame</a>
            </div>
        </div>
    </div>
    </section>

    <!-- Clinic Description -->
    <section id="about-2" class="about-2 section light-background">

        <div class="container-fluid">
          <div class="py-5">
            <div class="row justify-content-center">
              <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4 align-self-center order-lg-2 offset-xl-1 mb-4">
                <div class="img-wrap text-center text-md-left" data-aos="fade-up" data-aos-delay="100">
                  <div class="img">
                    <img src="/images/African American cheerful doctor.jpg" alt="circle image" class="img-fluid">
                  </div>
                </div>
              </div>
  
              <div class="offset-md-0 offset-lg-1 col-sm-12 col-md-5 col-lg-5 col-xl-4" data-aos="fade-up">
                <div class="px-3">
                  <span class="content-subtitle">A Nossa Missão</span>
                  <h2 class="content-title text-start">
                    Cuidar da sua saúde com excelência, proximidade e inovação.
                  </h2>
                  <p class="lead">
                    Na Medic, acreditamos que o cuidado com a saúde deve ser simples, acessível e centrado em si.
                  </p>
                  <p class="mb-5">
                    Fundada com o objetivo de aproximar as pessoas de um acompanhamento médico de qualidade, 
                    a Medic combina tecnologia de ponta com uma equipa multidisciplinar experiente, 
                    disponível para o acompanhar em todas as fases da sua vida. Dispomos de várias especialidades clínicas e 
                    exames de diagnóstico num único espaço, com um sistema de marcação online rápido, intuitivo e seguro.
                    Trabalhamos todos os dias para garantir um atendimento humanizado, pontual e eficiente. Porque para nós, 
                    cada paciente é único — e cada consulta é uma oportunidade de fazer a diferença. A Medic foi pensada para quem valoriza tempo, 
                    qualidade e confiança nos cuidados de saúde.
                  </p>
                  <p>
                    <a routerLink="/about" class="btn-get-started">Sobre nós</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</section>